@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/Helvetica Neue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
